* {
    margin: 0;
    padding: 0;
     font-family: "Montserrat", sans-serif
    
}

 body {
         line-height: 1.6;
         color: #333;
         background-color: #f9f9f9;
        }


        /*  Header */

.header {
     position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background:#081c30;
}
nav {
    
    display: flex;
    padding: 14px;
    justify-content: space-between;
    align-items: center;
    
   
   
}

.logo {
    color: white;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style:normal;
    font-size: 30px;  
}

.muun {
    font-family: "Unbounded", sans-serif;
    color: #f44336;
}

.nav-links {
    flex: 1;
    text-align: right;
    padding-right: 13px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px ;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color:#f44336;
    display: block;
    margin: auto;
    transition:  0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 15px;
    color: #fff;
}

.hero-btn, .course-button {
    display: inline-block;
    text-decoration: none;
    color: #fff; 
}
.hero-btn {
    border: 1px solid #fff;
    padding: 12px 34px ;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border:1px solid #f44336;
    background:#f44336 ;
}

nav .fa {
    display: none;
}


@media(max-width:700px) {
    
    
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    

    .nav-links {
        position: absolute;
         background:#081c30;
        height: 100vh;
        width: 180px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
   
    
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;    
    }
   
    .nav-links ul {
        padding: 30px;

    }

   

  
}

/* contact*/
.contact {
    
    position: relative;
    min-height: 100hv;
    padding: 110px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(4,9,30,0.8)), url(./img/WhatsApp\ Image\ 2025-09-05\ at\ 16.04.28.jpeg);
    background-size: cover;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}
.contact .content h2 {
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    padding-bottom: 40px;

}


.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
   
}
.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .icon i {
    padding-top: 17px;
}
.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: #00bcd4;
}

.contactForm {
    width: 40%;
    padding: 50px;
    background: #fff;
    border-radius: 10px;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;

}
.contactForm .inputBox input, 
 .contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #f18930;
    font-size: 12px;
    transform: translateY(-20px);
}



/* CSS */

.button-18 {
   
  align-items: center;
  background-color:#0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 180px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}




@media (max-width: 768px) {
    .contact {
        padding: 150px;
    }
    .container {
        flex-direction: column;
    }
    .container .contactInfo {
        margin-bottom: 40px;
    }
    .container .contactInfo, .contactForm {
        width: 100%;
    }
   
  
    


}



/*   Footer  */

footer {
    background: #081c30;
    padding-top: 50px;
    color: #fff;
}
.container-0 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    justify-content: center;
}

.footer {
    width: 33.3%;
}

footer h3 {
   color: #f18930 ;
   text-align: center;
}
.footer-content {
    width: 300px;
    margin: auto;
    padding: 7px; 
}

.footer-content p, .footer-content ul li, .list a {
    font-size: 18px;
    padding: 7px;
    text-align: center;
}

.list {
    padding-bottom: 80px;
} 
.list li {
    width: auto;
    list-style-type: none;
    position: relative;
}
.list a {
    color: #fff;
    text-decoration: none;
}
.list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background:#f18930;
    transition-duration: .5s;
}
.list li:hover::before {
    width: 90px;
}
.social-icons {
    text-align: center;
    padding-bottom: 40px;
    
}
.social-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i {
    color:white;
    font-size: 25px;
    
}
.a:hover {
    color: #f18930;
}
.social-icons i:hover {
    color: #f18930;
}
 .bottom-bar {
    background:#f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p {
    color: #333;
    margin: 0;
    font-size: 16px;
    padding: 7px; 
}


@media(max-width:768px) {
    .container-0{
    display: grid; 
    grid-template-columns: 1fr;
       justify-content: center;  
       margin: 0;
    }
}
    